.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__icons {
        margin-top: 65px;
        width: 922px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__icon {
        width: 247px;
        color: #0d0d0d;
        text-align: center;
        h3 {
            margin-top: 38px;
            font-size: 18px;
            font-weight: 700;
        }
        p {
            margin-top: 26px;
            font-size: 14px;
            font-weight: 300;
        }
        span {
            color: #ff0000;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}